@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fb7c14;
  --second-bg-color: #0a0a0a;
  --text-color: #0a0a0a;
  --main-text: #0a0a0a;
  --text-color: #ffffff;
  --second-color: #ccc;
  --main-color: #1545e0;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #d4c9c9, #1f6ad3);
}
.calculator {
  border: 1px solid #1158e6;
  padding: 10px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
input {
  width: 100%;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}
input ::placeholder {
  color: #080808;
}
button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #0e0d0d;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(7, 81, 230, 0.5);
}
button {
  cursor: pointer;
}
.equalbtn {
  background-color: #fb7c14;
}
.operator {
  color: #f5071b;
}
